html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  font-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover, a:active {
  outline: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-font-feature-settings: "kern", "liga", "frac", "pnum";
  -moz-font-feature-settings: "kern", "liga", "frac", "pnum";
  -ms-font-feature-settings: "kern", "liga", "frac", "pnum";
  font-feature-settings: "kern", "liga", "frac", "pnum";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #0e2f43;
  font-family: 'Open Sans', sans-serif;
}

/* INTRO */
#content {
  z-index: 100;
}

.sub-title {
  font-family: 'Lora', serif;
}
.name {
  font-size: 18px;
}
.email {
  font-size: 18px;
}

.headline {
  font-family: 'Lora', serif;
  font-size: 96px;
  margin-bottom: 16px;
}

#work-links a {
  font-weight: 100;
  color: #50E3C2;
}

#work-links a:hover {
  color: #256556;
}

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  text-decoration: none;
  color: #41B89D;
  text-decoration-style: solid;
}

a:hover {
  color: #256556;
}

#photo {
  overflow-x: hidden;
  position: absolute;
  top: 0;
  z-index: -100;
}

/* ABOUT */
#about {
  max-width: 664px;
}

#about-photo img {
  position: absolute;
  top: 1200px;
  left: 0;
}

#about-photo {
  width: 70%;
}

#about {
  position: absolute;
  top: 1324px;
  left: 0;
  z-index: 100;
}

#work-links-tablet {
  display: none;
}

/* CASE STUDY */
#case-study {
  padding: 108px 0 180px 0;
}
#case-study img {
  padding-top: 88px;
  padding-bottom: 88px;
}
#case-study p {
  max-width: 664px;
}
#end {
  padding: 64px 0 64px 0;
}
.back-to-top {
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: -200;
}

/* FOOTER */
.grey-background {
  background-color: #F2F2F2;
}

/* DESKTOP LARGE*/
@media screen and (min-width: 1340px) {
  .wrapper {
    padding: 104px 148px 104px 148px;
  }
  #headliner {
    padding: 108px 0 108px 0;
    max-width: 1275px;
  }
  .headline {
    font-size: 96px;
    line-height: 124px;
  }
  #work-links a {
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 16px;
  }
  #photo {
    padding-top: 104px;
    right: 0;
    width: 50%;
  }
  #about {
    padding: 104px 64px 164px 50%;
  }
  #about p {
    padding: 24px 0 0 0;
  }
  #content {
    padding-bottom: 280px;
  }
  #case-study {
    margin-top: 124px;
  }
  #case-study-header {
    margin-top: 80px;
    padding-bottom: 8px;
  }
  #case-study img {
    width: 100%;
  }
  p {
    line-height: 32px;
    font-size: 18px;
    font-weight: 100;
  }
  .sub-title {
    font-size: 36px;
    line-height: 48px;
    max-width: 1075px
  }
  .top-link {
    font-size: 18px;
    padding: 40px 0 40px 0;
  }
}

/* DESKTOP MID*/
@media screen and (max-width: 1340px) {
  .wrapper {
    padding: 48px 48px 104px 48px;
  }
  .headline {
    width: 75%;
    font-size: 96px;
    line-height: 124px;
  }
  #headliner {
    padding: 80px 0 80px 0;
  }
  #content {
    padding-bottom: 204px;
  }
  #work-links a {
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 16px;
  }
  #photo {
    padding-top: 104px;
    right: 0;
    width: 50%;
  }
  #about {
    position: static;
    padding: 48px 48px 104px 48px;
    margin-top: -440px;
    margin-left: auto;
    margin-right: auto;
  }
  #about p {
    padding: 24px 0 0 0;
  }
  #about-photo {
    opacity: 0.2;
    z-index: -1000;
    width: 100%;
  }
  #case-study-header {
    margin-top: 80px;
    padding-bottom: 8px;
  }
  #case-study img {
    width: 100%;
  }
  p {
    line-height: 32px;
    font-size: 18px;
    font-weight: 100;
    max-width: 664px;
  }
  .sub-title {
    font-size: 24px;
    line-height: 36px;
    max-width: 624px;
  }
  .top-link {
    font-size: 18px;
    padding: 40px 0 40px 0;
  }
}

/*TABLET*/
@media screen and (max-width: 768px) {
  .wrapper {
    padding: 48px 48px 104px 48px;
  }
  #content {
    margin-bottom: 40px;
  }
  .headline {
    display: none;
  }
  #work-links {
    display: none;
  }
  #work-links-tablet {
    display: inline;
    font-size: 48px;
    line-height: 64px;
  }
  #photo {
    display: none;
  }
  #about {
    position: static;
    padding-bottom: 48px;
  }
  #about p {
    padding-top: 24px;
  }
  #about-photo {
    display: none;
  }

  .sub-title {
    font-size: 64px;
    line-height: 80px;
  }
  #case-study {
    display: none;
  }
  #end {
    display: none;
  }
  .grey-background {
    display: none;
  }
}

/* PHONE */
@media screen and (max-width: 450px) {
  .wrapper {
    padding: 48px 48px 104px 48px;
  }
  #content {
    padding-bottom: 64px;
  }
  .headline {
    font-size: 32px;
    line-height: 40px;
    width: 100%;
  }
  #headliner {
    padding-bottom: 140px;
  }
  .name {
    font-size: 14px;
  }
  .email {
    font-size: 14px;
  }
  #work-links a {
    font-size: 32px;
    line-height: 40px;
  }
  .sub-title {
    font-size: 24px;
    line-height: 36px;
  }
  #case-study-header {
    padding-bottom: 8px;
  }
  #case-study img {
    width: 100%;
  }
}


/* FADE IN */
#title {
  -webkit-animation: fadein 0.1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 0.1s; /* Firefox < 16 */
      -ms-animation: fadein 0.1s; /* Internet Explorer */
       -o-animation: fadein 0.1s; /* Opera < 12.1 */
          animation: fadein 0.1s;
          animation-timing-function: ease-in-out;
}

#headliner {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;
          animation-timing-function: ease-in-out;
}

#work-links {
  -webkit-animation: slowerfadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: slowerfadein 1.5s; /* Firefox < 16 */
      -ms-animation: slowerfadein 1.5s; /* Internet Explorer */
       -o-animation: slowerfadein 1.5s; /* Opera < 12.1 */
          animation: slowerfadein 1.5s;
          animation-timing-function: ease-in-out;
}

#photo {
  -webkit-animation: slowerfadein 1.6s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: slowerfadein 1.6s; /* Firefox < 16 */
      -ms-animation: slowerfadein 1.6s; /* Internet Explorer */
       -o-animation: slowerfadein 1.6s; /* Opera < 12.1 */
          animation: slowerfadein 1.6s;
          animation-timing-function: ease-in-out;
}





@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

@keyframes slowerfadein {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
