html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  font-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.cta {
  /* background-color: #118088; */
  border: 2px solid #118088;
  padding: 16px 16px;
  color: #118088;
}
a.cta:hover {
  color: white;
  background-color: #39B6BF;
  border: none;
  -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 0.2s; /* Firefox < 16 */
      -ms-animation: fadein 0.2s; /* Internet Explorer */
       -o-animation: fadein 0.2s; /* Opera < 12.1 */
          animation: fadein 0.2s;
          animation-timing-function: ease-in-out;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover, a:active {
  outline: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-font-feature-settings: "kern", "liga", "frac", "pnum";
  -moz-font-feature-settings: "kern", "liga", "frac", "pnum";
  -ms-font-feature-settings: "kern", "liga", "frac", "pnum";
  font-feature-settings: "kern", "liga", "frac", "pnum";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #052123;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 600;
  padding: 48px 0;
}

h2 {
  font-weight: 600;
}

.no-top-margin {
  margin-top: 0;
}

p {
  padding: 24px 0;
  line-height: 48px;
}

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  text-decoration: none;
  color: #39B6BF;
}
a:active, a:focus {
  border-color: #118088;
  outline: none;
}

a:hover {
  border-bottom: 1px solid #118088;
  color: #118088;
}

body {
  margin: 80px 80px 80px 80px;
}

#section-1 {
  margin-bottom: 80px;
}

#section-2 {
  margin-bottom: 160px;
}

#header-divider p {
  border-bottom: 1px #D3D8D9 solid;
}

.line-divider {
  display: block;
  border-bottom: 1px #D3D8D9 solid;
}

.flex-section {
  width: 100%;
  display: flex;
}

.full-image img {
  width: 100%;
}

.left-half-width {
  margin-right: 48px;
  width: 50%;
}

.left-small-image {
  margin-right: 48px;
}

.divider {
  clear: both;
}

.img-border {
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
}

#case-study img {
  text-align: center;
}

.case-study-text {
  text-align: left;
}
.case-study-text-container {
  /* text-align: center;
  margin: auto; */
}
.bullet-points {
  /* font-size: 16px; */
  color: #2E484A;
}

/** Type Scale: 1.333 Perfect Fourth

89px
67px
50px
37px
28px
21px
16px
12px

**/

/** Max Desktop **/
@media screen and (min-width: 1200px) {
  body {
    /* background-color: green; */
  }
  /* index */
  #home-margin {
      margin: 80px 124px 80px 80px;
  }
  #header-divider {
    margin-bottom: 64px;
  }
  .right {
    width: 50%;
  }
  .right a {
    font-size: 28px;
  }
  /* All */
  h1 {
    font-size: 89px;
  }
  h2 {
    font-size: 67px;
    margin-top: 32px;
  }
  p {
    font-size: 28px;
  }
  .divider {
    padding-bottom: 164px;
  }
  /* Case Study */
  .case-study-text-container {
    width: 940px;
    padding-left: 124px;
  }
  #case-study img {
    max-width: 1920px;
    text-align: center;
    width: 100%;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

/** Medium Desktop and Large Mobile, iPhone 6 **/
@media screen and (min-width: 901px) and (max-width: 1199px) {
  body {
    /* background-color: blue; */
  }
  /* Index */
  #section-1 {
    margin-bottom: 0;
  }
  #home-margin {
    margin: 64px 64px 64px 64px;
  }
  #header-divider {
    margin-bottom: 64px;
  }
  .flex-section { /* To make index page images full width */
    flex-direction: column;
  }
  .left-half-width {
    width: 100%;
  }
  .left img {
    margin-right: 0;
    width: 100%;
  }
  .left-small-image img {
    margin-right: 0;
    width: 100%;
  }
  .right {
    margin-top: 64px;
    width: 100%;
  }
  /* All */
  h1 {
    font-size: 67px;
  }
  h2 {
    font-size: 50px;
    margin-top: 24px;
  }
  p {
    font-size: 28px;
  }
  .divider {
    padding-bottom: 164px;
  }
  /* Case Study */
  .case-study-text-container {
    margin-left: 32px;
    margin-right: 32px;
  }
  #case-study img {
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}


/** Medium Mobile **/
@media screen and (min-width: 601px) and (max-width: 900px) {
  body {
    margin: 16px;
    /* background-color: red; */
  }
  /* Index */
  .flex-section { /* To make index page images full width */
    flex-direction: column;
  }
  .left-half-width {
    width: 100%;
  }
  .left img {
    margin-right: 0;
    width: 100%;
  }
  .left-small-image img {
    margin-right: 0;
    width: 100%;
  }
  #header-divider {
    margin-bottom: 64px;
  }
  .divider {
    padding-bottom: 164px;
  }
  .right {
    margin-top: 64px;
    width: 100%;
  }
  /* All */
  h1 {
    font-size: 67px;
  }
  h2 {
    font-size: 37px;
    margin-top: 16px;
  }
  p {
    font-size: 28px;
    line-height: 37px;
  }
  /* Case Study */
  .case-study-text {
    padding-left: 24px;
    padding-right: 24px;
  }
  #case-study img {
    width: 100%;
  }
}

/** X-Small Mobile **/
@media screen and (max-width: 600px) {
  body {
    margin: 16px;
    /* background-color: purple; */
  }
  /* Index */
  #home-margin {
    margin: 16px;
  }
  #header-divider {
    margin-bottom: 64px;
  }
  /* All */
  h1 {
    font-size: 67px;
  }
  h2 {
    font-size: 37px;
    margin-top: 16px;
  }
  p {
    font-size: 28px;
    line-height: 37px;
  }
  .divider {
    padding-bottom: 164px;
  }
  /* Case Study */
  #case-study img {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .case-study-text {
    padding-left: 24px;
    padding-right: 24px;
  }
}

#section-1, #section-1 a {
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 0.5s; /* Firefox < 16 */
      -ms-animation: fadein 0.5s; /* Internet Explorer */
       -o-animation: fadein 0.5s; /* Opera < 12.1 */
          animation: fadein 0.5s;
          animation-timing-function: ease-in-out;
}

#section-2, #section-2 a {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;
          animation-timing-function: ease-in-out;
}

#section-4, #section-4 a {
  -webkit-animation: fadein 2.5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2.5s; /* Firefox < 16 */
      -ms-animation: fadein 2.5s; /* Internet Explorer */
       -o-animation: fadein 2.5s; /* Opera < 12.1 */
          animation: fadein 2.5s;
          animation-timing-function: ease-in-out;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
