body {
  margin: 0;
  padding: 0;
  background-color: #1d1d1d;
  font-family: "Proxima Nova Condensed Light", sans-serif; }

#intro {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  -webkit-animation: fadein 1.2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.2s;
  /* Firefox < 16 */
  -ms-animation: fadein 1.2s;
  /* Internet Explorer */
  -o-animation: fadein 1.2s;
  /* Opera < 12.1 */
  animation: fadein 1.2s;
  animation-timing-function: ease-in-out;
  height: auto;
  padding: 164px 16px 164px 16px;
  text-align: center; }
  @media (max-width: 1200px) {
    #intro {
      padding: 64px 16px 64px 16px; } }
  @media (max-width: 1024px) {
    #intro {
      padding: 64px 16px 64px 16px;
      margin-bottom: 4px; } }
  @media (max-width: 450px) {
    #intro {
      padding-top: 64px;
      padding-bottom: 64px; } }
  #intro .title {
    color: #424242;
    font-size: 32px;
    font-weight: 100;
    padding-bottom: 0; }
    @media (max-width: 1024px) {
      #intro .title {
        font-size: 16px;
        width: auto; } }
  #intro .berlin-headline {
    width: 300px;
    height: 242px;
    padding: 0; }
    @media (max-width: 1024px) {
      #intro .berlin-headline {
        width: 216px;
        height: 174px; } }
  #intro .byline {
    font-family: "Proxima Nova Condensed Light", sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 32px;
    width: 504px;
    margin: auto;
    color: #A7A7A7; }
    @media (max-width: 1024px) {
      #intro .byline {
        font-size: 12px;
        line-height: 18px;
        width: 80%;
        padding: 0 24px 0 24px; } }

#content {
  padding: 32px 128px 32px 128px; }
  @media (max-width: 1024px) {
    #content {
      padding: 0 16px 0 16px;
      margin: 0; } }

img {
  width: 100%;
  padding-bottom: 64px;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  -webkit-animation: fadein 1.2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.2s;
  /* Firefox < 16 */
  -ms-animation: fadein 1.2s;
  /* Internet Explorer */
  -o-animation: fadein 1.2s;
  /* Opera < 12.1 */
  animation: fadein 1.2s;
  animation-timing-function: ease-in-out; }
  @media (max-width: 1024px) {
    img {
      padding: 0 0 16px 0;
      margin: 0; } }

.last-img {
  padding-bottom: 0; }

#outro {
  padding: 32px; }
  @media (max-width: 1024px) {
    #outro {
      padding: 0;
      margin: 0; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

a:active, a:visited {
color: #424242;
}
a:hover, a:focus {
  color: #FFF;
  transition: 0.3s; }
